.header {
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
  padding-top: 20px;
  border: 5px solid black;
}
.container {


}
.topImage {
  padding-left: 20%;
}

h1 {
  font-size: 120px;
}

.footer {
  height: 100px;

}

img {
  display: none;
  width: 100%;
  margin: auto;
}
#cover-container {
  /*display: none;*/
  max-width: 60%;
  margin: auto;
}

.square {
  display: none;
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:contain;
}
.img_1-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-bang.jpg");}
.img_1-2 {background-image: url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-kachick.jpg");
}
.img_1-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-hwuhhh.jpg");}

.img_2-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-bang-klick.png");}
.img_2-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/The-Photographer-bratata.jpg");}
.img_2-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/The-Photographer-tahtahtah.jpg");}



.img_3-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Anyas-Ghost-thud-thud-thud.jpg");}
.img_3-2 {background-image: url("file:///Users/Guest/Desktop/Week5GroupProject/img/Blorb-hhheuurrk.jpg");
}
.img_3-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Dressing-ptoo-ptoo.jpg");}

.img_4-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/March-blam-blam.jpg");}
.img_4-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Pleasant-hworrrk.jpg");}
.img_4-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Sculptor-bamp-bamp-bamp.jpg");}

.img_5-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Sculptor-blarrr.jpg");}

.img_5-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Wrinkles-chof-chof-chof.jpg");}
.img_5-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Zita-brakka-brakka.jpg");}
.img_6-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Zita-mph-mmff.jpg");}


/**,
*::before,
*::after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}*/

.col-md-3 {
  /*float: left;*/
}
