.header {
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
  padding-top: 0.1em;
  border: 5px solid black;
  font-size: 8.5em;
  font-weight: 500;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    .header {
        font-size: 8em; /* 8em default size */
        padding-left: auto;
        padding-right: auto;
        padding-top: .1em;
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    .header {
        font-size: 5em; /* 5em default size */
        padding-left: auto;
        padding-right: auto;
        padding-top: .6em;
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    .header {
        font-size: 3.5em; /* 3.5em default size */
        padding-left: auto;
        padding-right: auto;
        padding-top: 1.1em;
        }
    }

.container {
  height: 5.5em;
}
.topImage {
  padding-left: 20%;
}

.footer {
  height: 100px;
}

.copyright {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 1%;
}

img {
  /*display: none;*/
  width: 100%;
  margin: auto;
}

#cover-container {
  /*display: none;*/
  max-width: 60%;
  margin: auto;
}

.square {
  display: none;
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:contain;
}

/*.img_1-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-bang.jpg");}
.img_1-2 {background-image: url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-kachick.jpg");
}
.img_1-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-hwuhhh.jpg");}

.img_2-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Paper-Girls-bang-klick.png");}
.img_2-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/The-Photographer-bratata.jpg");}
.img_2-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/The-Photographer-tahtahtah.jpg");}



.img_3-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Anyas-Ghost-thud-thud-thud.jpg");}
.img_3-2 {background-image: url("file:///Users/Guest/Desktop/Week5GroupProject/img/Borb-hhheuurrk.jpg");
}
.img_3-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Dressing-ptoo-ptoo.jpg");}

.img_4-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/March-blam-blam.jpg");}
.img_4-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Pleasant-hworrrk.jpg");}
.img_4-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Sculptor-bamp-bamp-bamp.jpg");}

.img_5-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Sculptor-blarrr.jpg");}
.img_5-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Wrinkles-chof-chof-chof.jpg");}
.img_5-3{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Zita-brakka-brakka.jpg");}

.img_6-1{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Zita-mph-mmff.jpg");}
.img_6-2{background-image:url("file:///Users/Guest/Desktop/Week5GroupProject/img/Magic-Pen-pow.jpg");}*/



*::before,
*::after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

.col-md-3 {
  /*float: left;*/
}
