.header {
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
  padding-top: 20px;
  border: 5px solid black;
}
.container {


}
.topImage {
  padding-left: 20%;
}

h1 {
  font-size: 120px;
}

.footer {
  height: 100px;

}

#bookOneCoverImage{

}
#bookTwoCoverImage{

}
img {
  display: none;
  width: 100%;
  margin: auto;
}
#cover-container {
  /*display: none;*/

  max-width: 60%;
  margin: auto;
}
.col-md-3 {
  /*float: left;*/
}
